{% extends 'base.njk' %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        您还未登录，点击前往
        <a href="../signin" class="alert-link">登录</a>，还没有帐号？
        <a href="../signup" class="alert-link">点此注册</a>
    </div>
{% endblock %}